body{
    background-color: rgb(2, 62, 151);
    /*text-align: center;*/
    font-family: 'Tilt Neon', cursive;
    background-image:url(fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*REDES*/
header{
 background-color: rgba(201, 66, 66, 0.527);
}

  /* Contenedor general y reset de margin y padding */
.expandir * {
margin: 0;
padding: 0;
}
.expandir {
font-family:Arial, Helvetica, sans-serif;
line-height:normal;
margin:20px auto 30px;
height:80px;
width:530px;
}
/* Las imágenes irán en forma de lista */
.expandir ul {
padding-top:10px;
margin-left:10px;
}
/* Se hacen flotar los elementos para que queden en línea y se elimina el estilo que podría haber predefinido para listas */
.expandir ul li {
float:left;
list-style-type:none;
}
/* Anulamos estilo predifinido para enlaces en listas */
.expandir ul li a {
text-decoration:none;
}
/* Estilo de cada imagen en situación inicial y transición suave */
.expandir ul li a img {
width:60px; /* Ancho inicial imagénes. 50% real */
height:70px; /* Alto inicial imagénes. 50% real */
border:none;
-webkit-transition: all .3s ease-in;
-moz-transition: all .3s ease-in;
-o-transition: all .3s ease-in;
-ms-transition: all .3s ease-in;
transition: all .3s ease-in;
}
/* El texto que acompaña a las imágenes no se ve inicialmente */
.expandir ul li a span {
display:none;
}
/* Mostramos el texto al hacer hover */
.expandir ul li:hover a span {
display:block;
font-size:14px;
text-align:center;
color:#000;
}
/* Agrandamos la imagen al hacer hover */
.expandir ul li:hover a img {
width:84px;
height:94px;
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}

/*BIENVENIDA A LA PAGINA*/
.text-header{
  color: #6c2eb9;
  font-weight: normal;
  font-size: 40px;
  font-family:'Tilt Neon', cursive ;
  text-transform: uppercase;
}

/* TITULO DE LA WEB */

html{
  scroll-behavior: smooth;
}

section[id]{
  scroll-margin-top: 70px;
}

section{
top: 0%;
left: 0%;
width: 100%;
height: 80px;
background: white;
box-shadow: 0 4px 25px -22px black;
z-index:2;
}

.header-content{
   max-width: 1200px;
   margin: auto;
   display: flex;
   justify-content: space-between;
}

.logo{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo h1 b{
 color:rgba(248, 0, 0, 0.836);
}

.menu{
  display: flex;
  height: 80px;
  background-color: white;
  text-underline-position: from-font;
}

.abrir-menu .phone{
  width: 100px;
  height: 80px;
  background-color:#ffffff;
}

.abrir-menu,
.cerrar-menu{
  display: none;
}

.menu nav{
  height: 100%;
  font-size: x-large;
}

.menu nav ul{
  height: 100%;
  display: flex;
  list-style: none;

}

.menu nav ul li{
  height: 100%;
  margin: 0px 10px;
  display: flex;
  /* justify-content: center; */
  position: relative;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  flex-direction: row-reverse
}

.text-menu-selected:before{
    content: '';
    width: 100%;
    height: 4px;
    background-color:rgb(255, 4, 4) ;
    position: absolute;
    top: 0;
    left: 0;
}

.menu nav ul li a{
  color: rgb(255, 0, 0);
  transition: color 300ms;
}

.menu nav ul li a:hover{
  color: rgb(255, 0, 0);
}

.menu .text-menu-selected{
color: #000;
}

/* TARJETA DE PRESENTACION */
/*ESTILO DE PERFIL*/
.card0 {
  padding-top: 10px;
  background-color:white;
  margin: 10px auto;
  width: 900px;
  border-radius: 10px;
  box-shadow: 5px 5px 30px 7px rgba(255, 2, 2, 0.329), -5px -5px 30px 7px rgba(255, 255, 255, 0.616);
  cursor: pointer;
  transition: 0.4s;
  margin: auto;
  text-align: center;
  cursor: default;
}

.perfil{
  width: 30%;
  border-radius: 20px;
}

.presentacion{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  }

.prueba{
  width: 10%;
}

/* Celular SE  */
@media screen and (max-width: 720px){
  .wrapper .card0{
    padding-top: 10px;  
    width: auto;
    margin: 5px 0 0 0;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .flex-container .card {
    width: min-content;
    margin: 19px 20px 20px 90px ;
  }
}  


/*ESTILOS DE EXPERIENCIA LABORAL*/

.titulo1{
  margin-top: 30px;
  width: 100%;
  
}

.flex-container {
  width: min-content;
  display:inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}


.container{
  width: 100%;
  display: flex;
  max-width: 200%;
  max-height: 100%;
}

.card {
  width: 299px;
  margin: 32px 70px 10px 60px;
  border-radius: 6px;
  overflow: hidden;
  background: linear-gradient(rgb(253, 71, 71), rgb(123, 134, 194));
  box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.308), -5px -5px 30px 7px rgba(255, 255, 255, 0.616);
  cursor: default;
  transition: all 400ms ease;
}

.card:hover{
  box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.801) ;
  transform: translateY(-3%);
}

.card img{
 width: 80%;
 height: 210px;
 border-radius: 10%;
}

.card .contenido{
  padding: 15px;
  text-align: center;
}

.card .contenido p{
  line-height: 1.5;
  color: rgb(255, 255, 255);
}

.card .contenido h2{
  font-weight: 400;
  margin-bottom: 15px;
  text-align: center;
}

/* ESTILOS DE EDUCACION*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-all{
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 60px;
  background: white;
  margin-top: 100px;
  border-top: 6px solid red;
}

.title{
  font-size: 40px;
  margin-bottom: 60px;
}

.sub-title{
font-size: 30px;
font-weight: 400;
}

.container-all img{
  width: 150px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
 .container-all p{
  font-size: 18px;
  font-weight: 300;
  margin-top: 20px;
 }

/* ESTILOS DE HABILIDADES*/

.habilidades{
  width: 97%;
  margin: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.container0{
  width: 100%;
  background-color: #ddd;
}

.skills{
  text-align: right;
  padding: 10px;
  color: white;
  font-weight: bold;
}

.html{
  background-color: rgb(0, 153, 255);
  animation: fillhtml 2s forwards;
}

.css{
  background-color: rgb(44, 151, 252);
  animation: fillcss 2s forwards;
}

.js{
  background-color: rgb(99, 170, 252);
  animation: filljs 2s forwards;
}

@keyframes fillhtml{
  0%{width: 0;}
  100%{width: 90%;}
}

@keyframes fillcss{
  0%{width: 0;}
  100%{width: 70%;}
}
    
@keyframes filljs{
  0%{width: 0;}
  100%{width: 50%;}
}

/* ESTILOS DE FOOTER */

footer{
  background: #ff393993;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #ddd;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.sociales{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.sociales li{
  margin: 0 10px;
}

.sociales a{
  text-decoration: none;
  color: #ddd;
}

.sociales a i{
  transition: color .4s ease;
}

.sociales a:hover i{
  color: rgb(0, 153, 255);
}

.footer-bottom{
  background: #ff02029c;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p{
  font-size: 14px;
  white-space: 2px;
  text-transform: capitalize;
}

.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200px;
  color: white;
}

@media screen and (max-width:650px) {
   .abrir-menu,
    .cerrar-menu{
   display: block;
  }

  .nav{
     opacity: 0;
    visibility: hidden; 
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: auto;
    right: 0;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgb( 0, 0, 0, .5);
  }

  .nav .visible{
    opacity: 1;
    visibility: visible;
  }
  
  .nav-list{
    flex-direction: column;
    align-items: end;
  }

 }




